<div class="col-md-6 offset-md-3">
    <form (ngSubmit) = "onSubmit()" #empleadoForm = "ngForm">

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)] = "empleado.nombre" 
            placeholder = "Ingrese su nombre" 
            minlength="4"
            maxlength="10"
            required
            #nombre = ngModel
        >
        <div class = "alert alert-danger my-2" *ngIf = "nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.hasError('required')">
                Digite su nombre por favor
            </div>
            <div *ngIf="nombre.hasError('minlength')">
                El nombre tiene que tener como mínumo 4 carácteres
            </div>
            <div *ngIf="nombre.hasError('maxlength')">
                El nombre tiene que tener como máximo 10 carácteres
            </div>            
        </div>
          
        </div>

        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)] = "empleado.apellido" 
            placeholder = "Ingrese su apellido"
            minlength="4"
            maxlength="10"
            required
            #apellido = ngModel
        >
        <div class = "alert alert-danger my-2" *ngIf = "apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.hasError('required')">
                Digite su apellido por favor
            </div>
            <div *ngIf="apellido.hasError('minlength')">
                El apellido tiene que tener como mínumo 4 carácteres
            </div>
            <div *ngIf="apellido.hasError('maxlength')">
                El apellido tiene que tener como máximo 10 carácteres
            </div>            
        </div>

        </div>

        <div class="form-group">
            <label for="nombre">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)] = "empleado.email" 
            placeholder = "Ingrese su email"
            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            required
            #email = ngModel
        >
        <div class = "alert alert-danger my-2" *ngIf = "email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.hasError('required')">
                Digite su email por favor
            </div>  
            <div *ngIf="email.hasError('pattern')">
                Formato de email incorrecto
            </div>       
        </div>
        </div>
        
        
        <button type="submit" class="btn btn-primary btn-block" [disabled] = "!empleadoForm.form.valid"> Registrar</button>

    </form>
</div>